/*

to use:
font-family: 'oxygen', serif;
font-family: 'Lora', serif;

*/

body{
    width: 100%;
    font-family: oxygen, serif;
    background-color: #61122f;
}

/*All links..,.*/
.nav-lnk{
    text-decoration: none;
}

#header-nav{
    font-family:  'Times New Roman', Times, serif;
    background-color: #f6b319;
    border: 0;
}

.navbar-header{
    display: flex;
    width: 100%;
    height: 155px;
}

#logo-img{
    background: url('../img/restaurant-logo02.png') no-repeat;
    background-size: 100%;
    border-radius: 5px;
    width: 110px;
    height: 120px;
    margin: 10px 15px 10px 0;
}


#header-img{
    margin-top: -6%;
    padding-bottom: 5%;
    width: 46%;
}

.headerprt{
    width: 50%;
}

#header-txt{
    font-family: 'Lora';
    font-size: 2.5em;
    color: #557c3e;
    text-shadow: 1px 1px 1px #222;
    margin-top: -5%;
    line-height: 49%;
}

.nav-butt{
    width: 10%;
    height: 50px;
}


.nav-lnks{
    position: absolute;
    top: 50px;
    right: 0;
}

.lnks{
    width: 110%;
}

.nav-item{
    width: 14%;
}

.active{
    opacity:0.52;
    background: #2a2b3c;
}

.nav-item>a{
    text-align: center;
}

.lnk-img{
    width: 81%;
}

.lnk-title{
    font-family: cursive;
    color: #951C49;
}

.lnk-title:hover{
    font-family: fantasy;
    color: #4d3737;
}

#phone{
    padding-top: 15px;
    width: 35%;
    font-size: 1.4em;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

.art{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 992px){
    .headerprt{
        /* margin-left: 12%; */
    }

    .nav-butt{
        display: none !important;
        visibility: hidden !important;
    }

    .nav-lnks{
        width: 35%;
    }
}

@media (min-width:768px) and (max-width:991px){
    
    .mobile {
        display: none !important;
        visibility: hidden !important;
    }

    .navbar-header{
        height: 235px;
    }

    .nav-lnks{
        position: absolute;
        top: 135px;
        right: 21%;
    }

    .headerprt{
        margin-left: 10%;
        width: 80%;
    }
    

    .nav-butt{
        display: none !important;
        visibility: hidden !important;
    }
    /* #nav-list{
        display: none !important;
        visibility: hidden !important;
    } */

    
}

@media screen and (max-width:767px){

    .mobile {
        display: none !important;
        visibility: hidden !important;
    }

    .headerprt{
        width: 80%;
    }

    #header-txt{
        font-size: 1.8em;
        text-align: center;
    }

    #header-img{
        width: 46%;
        margin-left: 32%;
    }

    .lnks{
        width: 62%;
        text-align: center;
        margin-left: 0;
        margin: auto;

    }

    .lnk {
        padding-top: 0;
    }
    
}