/*

to use:
font-family: 'oxygen', serif;
font-family: 'Lora', serif;

*/

body{
    width: 100%;
    font-family: oxygen, serif;
    background-color: #61122f;
}

/*All links..,.*/
.nav-lnk{
    text-decoration: none;
}

#header-nav{
    font-family:  'Times New Roman', Times, serif;
    background-color: #f6b319;
    border: 0;
    height: 155px;
}

#logo-img{
    background: url('../img/restaurant-logo02.png') no-repeat;
    background-size: 100%;
    border-radius: 5px;
    width: 110px;
    height: 120px;
    margin: 10px 15px 10px 0;
}


#header-img{
    margin-top: -6%;
    padding-bottom: 5%;
    width: 46%;
}

.headerprt{
    width: 50%;
}

#header-txt{
    font-family: 'Lora';
    font-size: 2.5vw;     /* 1vw = 1% of viewport width      */
    color: #557c3e;
    text-shadow: 1px 1px 1px #222;
    margin-top: -5%;
    line-height: 49%;
}

.nav-butt{
    width: 10%;
    padding: 0;
    border-radius: 8px;
    opacity: 0.5;
}

.nav-lnks{
    position: absolute;
    top: 50px;
    right: 20px;
}

.lnks{
    width: 110%;
}

.nav-item{
    width: 14%;
}

.active{
    opacity:0.52;
    background: #2a2b3c;
}

.nav-item>a{
    text-align: center;
}

.lnk-img{
    width: 81%;
}

.lnk-title{
    font-family: cursive;
    color: #951C49;
}

.lnk-title:hover{
    font-family: fantasy;
    color: #4d3737;
}

#phone{
    padding-top: 15px;
    width: 35%;
    font-size: 1.4em;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

.navbar button.navbar-toggle{
    border: 1px solid #61122f;
    clear: both;
}

.icn-bar{
    width: 80%;
    height: 80%;
    font-size: 2.5em;
}

.jumbo{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

.container .jumbotron{
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
    padding: 0;
}

.sec-img-h1{
    width: 100%;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../img/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../img/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}



/*View changes  for Large devices*/
@media (min-width: 1200px){

    #header-nav{
        height: 182px;
    }
    
    #logo-img{
        width: 160px;
        height: 170px;
    }
    
    .nav-butt{
        display: none !important;
        visibility: hidden !important;
    }

    .nav-lnks{
        width: 35%;
    }

    .sec-img-h1{
        /* background: url('../img/jumbotron_1200.jpg')no-repeat; */
        height: 675px;
    }
}

/*View changes  for desktop devices*/
@media (min-width: 992px) and (max-width:1199px){
    .headerprt{
        /* margin-left: 12%; */
    }

    .nav-butt{
        display: none !important;
        visibility: hidden !important;
    }

    .nav-lnks{
        width: 35%;
    }

    .sec-img-h1{
        /* background: url('../img/jumbotron_992.jpg')no-repeat; */
        height: 558px;
    }
}

/*View changes  for Tablet devices*/
@media (min-width:768px) and (max-width:991px){
    
    .mobile {
        display: none !important;
        visibility: hidden !important;
    }

    #header-nav{
        height: 235px;
    }

    .nav-lnks{
        position: absolute;
        top: 135px;
        right: 21%;
    }

    .headerprt{
        margin-left: 10%;
        width: 80%;
    }
    

    .nav-butt{
        display: none !important;
        visibility: hidden !important;
    }
    /* #nav-list{
        display: none !important;
        visibility: hidden !important;
    } */
    .sec-img-h1{
        /* background: url('../img/jumbotron_768.jpg')no-repeat; */
        height: 432px;
    }
    
}

/*View changes  for mobile devices*/
@media screen and (max-width:767px){
    /* .navbar-toggle .icon-bar {
        background-color: #fff;
    } */

    #collapsable-nav{
        margin-top: 11%;
    }

    .mobile {
        display: none !important;
        visibility: hidden !important;
    }

    .headerprt{
        width: 80%;
    }

    #header-txt{
        font-size: 1.8em;
        text-align: center;
    }

    #header-img{
        width: 46%;
        margin-left: 32%;
    }

    .lnks{
        width: 62%;
        text-align: center;
        margin-left: 0;
        margin: auto;

    }

    .lnk {
        padding-top: 0;
    }

    .lnk-title{
        color: skyblue;
    }

    #menu-tile, #specials-tile {
    	width: 360px;
    	margin: 0 auto 15px;
    }
    
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}
